.fixed {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background: white;
  /* background-image: linear-gradient(to right, lightblue, ); */
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.box {
  margin: 0%;
  padding: 5% 25% 5%;
  text-decoration: black;
}

.pfp {
  margin: 0%;
  float: right;
  word-wrap: break-word;
  width: 200px;
  height: 200px;
  /* background-image: url("/src/images/me.jpeg"); */
  background-size: cover;
  display: block;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
}

.main_card {
  margin: 10%;
  font-size: large;
  border-block: black 2px solid;
  padding: 10px 5px 10px;
  width: 70%;
}

.dark {
  background: #222;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .pfp {
    position: inherit;
    float: left;
    word-wrap: normal;
    width: 200px;
    height: 200px;
    background-size: cover;
    display: block;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
  }

  .main_card {
    margin: 10%;
    font-size: large;
    border-block: black 2px solid;
    padding: 10px 5px 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .pfp {
    margin: 10%;
    width: 200px;
    height: 200px;
    background-image: url("/src/images/me.jpeg");
    background-size: cover;
    display: block;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
  }
}
