/* .fixed {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  background: white;
} */

/*nav css*/

header {
  margin: 0%;
  display: flex;
  justify-content: space-between;
}

.nav {
  padding: 1% 1% 1%;
  overflow: hidden;
  box-sizing: content-box;
  margin: 0;
  background-color: white;
  position: fixed;
  display: block;
  z-index: 1;
  width: 100%;
}

.nav a {
  color: black !important;
  float: left;
  text-align: left;
  padding-left: 2%;
}

.nav a:hover {
  font-size: larger;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.box-1 {
  margin: 0%;
  padding: 5% 25% 5%;
  text-decoration: black;
}

.box-2 {
  margin: 0%;
  padding: 1% 15% 1%;
  text-decoration: black;
}

.pfp {
  margin: 0%;
  float: right;
  word-wrap: break-word;
  width: 200px;
  height: 200px;
  /* background-image: url("/src/images/me.jpeg"); */
  background-size: cover;
  display: block;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
}

.main_card {
  font-size: large;
  border-block: black 2px solid;
  padding: 100px 5px 10px;
  width: 75%;
}

/*screen change stuff*/

@media only screen and (max-width: 800px) {
  .main_card {
    margin: 10%;
    font-size: large;
    border-block: black 2px solid;
    padding: 10px 5px 10px;
    width: 100%;
  }

  .nav a {
    color: black !important;
    float: left;
    text-align: center;
    padding-left: 2%;
  }
}

@media only screen and (max-width: 500px) {
  .pfp {
    margin: 10%;
    width: 200px;
    height: 200px;
    /* background-image: url("/src/images/me.jpeg"); */
    background-size: cover;
    display: block;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
  }
}
